@import "@styles/spec";

.page{
    display: block;
    &__form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        &__block{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 24px;
            label{
                display: block;
                width: 100%;
                @include media-down(sm) {
                    font-size: 16px;
                }
            }
            & > div{
                max-height: 150px;
            }
        }
        &__button{
            width: fit-content;
        }
    }
}