

.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    &__wrapper{
        display: flex;
        align-items: center;
        gap: 16px;
        div:first-child{
            input{
                width: 135px;
            }
        }
        div:last-child{
            input{
                width: 110px;
            }
        }
    }
}