@import "@styles/spec";

.registration{
    max-width: 50% !important;

    @include media-down(lg) {
        max-width: 70% !important;
    }
    @include media-down(sm) {
        max-width: none !important;
    }
    &__wrapper{
        border-radius: 32px;
        border: 2px solid rgba(var(--color-white), 0.06);
        backdrop-filter: blur(32px);
        padding: 32px;
        @include media-down(sm) {
            padding: 0;
            border: none;
            border-radius: 0;
        }
    }
    h4{
        margin: 0;
    }
    h5{
        margin-top: 20px;
        a{
            text-decoration: underline;
            transition: 0.3s all;
            &:hover{
                color: rgba(var(--color-white), 0.6) !important;
            }
        }
    }
}