* {
	box-sizing: border-box;
}

@import "./spec/index";
@import "./variables";
@import "./container";
@import "./track";
@import "./title";

html{
	overflow-y: auto;
	scroll-behavior: smooth !important;
}

body{
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	color: rgb(var(--color-white));
}

.page__wrapper {
	background: url('../../public/background_1.png') center center/cover no-repeat;
	flex: 1 0;
	position: relative;
}

main{
	padding: 64px 0;
	transition: 0.3s opacity;
	&.modal{
		transition: 0.3s opacity;
		opacity: 0.1;
		pointer-events: none;
	}
	@include media-down(sm) {
		padding: 24px 0;
	}
}

footer{
	flex: 0 0;
}

p{
	margin: 0;
}

button{
	padding: 0;
	border: 0;
	background: none;
	color: inherit;
	cursor: pointer;
}

a{
	color: inherit;
	text-decoration: none;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

input{
	padding: 0;
	border: 0;
	background: none;
	color: inherit;
	outline: none !important;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}    
}

.scroll{
	&::-webkit-scrollbar {
		width: 14px;
	}
	&::-webkit-scrollbar-track {
		border-radius: 200px;
		background: rgba(255, 255, 255, 0.12);
		backdrop-filter: blur(16px);
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 240px;
		background: rgb(var(--color-purpure));
	}
}