input[type=range].track {
	height: 4px;
	width: 100%;
	-webkit-appearance: none;
	background: transparent;
	/*progress support*/
	& {
		--range: calc(var(--max) - var(--min));
		--ratio: calc((var(--value) - var(--min)) / var(--range));
		--sx: calc(var(--ratio) * (100% - 12px));
	}
	&:focus {
		outline: none;
	}
	/*webkit*/
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: -webkit-linear-gradient(117.57deg, #BC0AB8 25.97%, #8E1BE8 109.01%, #8E1BE8 109.02%);
		border: 2px solid #F4F2FC;
		box-shadow: none;
		margin-top: calc(4px * 0.5 - max(12px * 0.5,2px));
		cursor: pointer;
	}
	&:not(.play)::-webkit-slider-thumb {
		width: 0;
		height: 0;
		border: none;
	}
	&::-webkit-slider-runnable-track {
		height: 4px;
		border: none;
		border-radius: 0.5em;
		background: #F4F2FC1A;
		box-shadow: none;
	}
	&::-webkit-slider-runnable-track {
		background: -webkit-linear-gradient(117.57deg, #BC0AB8 25.97%, #8E1BE8 109.01%, #8E1BE8 109.02%) 0/var(--sx) 100% no-repeat, #5c5c5c3a;
	}
	/*mozilla*/
	&::-moz-range-thumb {
		width: max(calc(12px - 2px - 2px),0px);
		height: max(calc(12px - 2px - 2px),0px);
		border-radius: 50%;
		background: -webkit-linear-gradient(117.57deg, #BC0AB8 25.97%, #8E1BE8 109.01%, #8E1BE8 109.02%);
		border: 2px solid #F4F2FC;
		box-shadow: none;
		cursor: pointer;
	}
	&:not(.play)::-moz-range-thumb {
		width: 0;
		height: 0;
		border: none;
	}
	&::-moz-range-track {
		height: 4px;
		border: none;
		border-radius: 0.5em;
		background: #F4F2FC1A;
		box-shadow: none;
	}
	&::-moz-range-track {
		background: -webkit-linear-gradient-webkit-linear-gradient(117.57deg, #BC0AB8 25.97%, #8E1BE8 109.01%, #8E1BE8 109.02%) 0/var(--sx) 100% no-repeat, #F4F2FC1A;
	}
	/*ms*/
	&::-ms-fill-upper {
		background: transparent;
		border-color: transparent;
	}
	&::-ms-fill-lower {
		background: transparent;
		border-color: transparent;
	}
	&::-ms-thumb {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: -webkit-linear-gradient(117.57deg, #BC0AB8 25.97%, #8E1BE8 109.01%, #8E1BE8 109.02%);
		border: 2px solid #F4F2FC;
		box-shadow: none;
		margin-top: 0;
		box-sizing: border-box;
		cursor: pointer;
	}
	&:not(.play)::-ms-thumb {
		width: 0;
		height: 0;
		border: none;
	}
	&::-ms-track {
		height: 4px;
		border-radius: 0.5em;
		background: #F4F2FC1A;
		border: none;
		box-shadow: none;
		box-sizing: border-box;
	}
	&::-ms-fill-lower {
		height: 4px;
		border-radius: 0.5em 0 0 0.5em;
		margin: -undefined 0 -undefined -undefined;
		background: -webkit-linear-gradient(117.57deg, #BC0AB8 25.97%, #8E1BE8 109.01%, #8E1BE8 109.02%);
		border: none;
		border-right-width: 0;
	}
}
