.copying {
	$self: &;
	padding: 240px 60px 40px !important;
	max-width: 1300px;
	margin: 0 auto;
	
	@media only screen and (max-width: 920px) {
		padding: 180px 60px 80px !important;
	}
	
	@media only screen and (max-width: 740px) {
		padding: 100px 0 60px !important;
	}
	
	h2#{&}__title {
		font-weight: 300;
		font-size: 78px;
		line-height: 1.22;
		text-align: center;
		color: #F4F2FC;
		margin: 0 auto 60px;
		
		@media screen and (max-width: 1024px) {
			font-size: 60px;
		}
		
		@media screen and (max-width: 740px) {
			font-size: 34px;
		}
	}
	
	h3#{&}__subtitle {
		color: rgba(var(--Light), 1);
		font-weight: 200;
		font-size: 24px;
		line-height: 1.45;
		opacity: 0.9;
		max-width: 760px;
		padding: 0;
		margin: 0 auto 120px;
		
		@media screen and (max-width: 1024px) {
			font-size: 20px;
			margin: 0 auto 80px;
		}
		
		@media screen and (max-width: 740px) {
			margin: 0 auto 60px;
			font-size: 18px;
		}
	}

	&__slider {
		:global(.slick-dots) {
			position: static;
			padding-top: 20px;
		}
	}

	&__slide {
		display: flex !important;
		flex-flow: column nowrap;
		align-items: stretch;
		padding: 40px;
		background: url('./corner.png') top right / auto no-repeat rgba(244, 242, 252, 0.1);
		border: 1px solid rgba(244, 242, 252, 0.1);
		backdrop-filter: blur(4px);
		border-radius: 40px;
		outline: none;
		
		@media only screen and (max-width: 740px) {
			border-radius: 24px;
			padding: 24px;
		}
	}

	img#{&}__image {
		display: block;
		border-radius: 40px;
		height: auto;
		margin: 0 auto 30px;
		
		@media only screen and (max-width: 740px) {
			border-radius: 24px;
		}
		
		@media only screen and (max-width: 480px) {
			border-radius: 20px;
		}
	}

	h4#{&}__name {
		color: #fff;
		margin: 0 0 20px;
		text-align: left;

		@media only screen and (max-width: 480px) {
			font-size: 120%;
		}
	}

	&__button {
		max-width: 300px;
		margin: 0 auto;
	}

	&__voice {
		box-sizing: border-box;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}

	&__play {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;
		width: 80px;
		height: 80px;
		border-radius: 1000px;
		flex-shrink: 0;
		background: radial-gradient(at right top, #01b1d5 0%, #076d9d 20%, #7500c9 58%, #ff79bb 100%);

		&::after {
			display: block;
			content: '';
			width: 19px;
			height: 27px;
			background: url('/images/icon-play.svg') center / contain no-repeat transparent;
			margin-left: 5px;
		}
		
		&_stop::after {
			background-image: url("/images/icon-pause.svg");
			margin: 0;
		}

		&:hover::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			z-index: -1;
			opacity: 0.5;
			box-shadow: -0.5em 0.5em 2em #c7299e, 1em 1em 3em #5e12ba, -1em -1em 2em #5e12ba, 0.5em -0.5em 2em #331ed2;
		}
	}

	&__side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
		padding-left: 25px;
	}
}