

.profile{
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 100px);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 28px;

        &__title{
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.44px;
            margin-bottom: 4px;

            span {
                vertical-align: top;
                font-size: 16px;
                opacity: .7;
            }
        }
    }

    &__btn {
        max-width: 200px;
    }

    &__voices {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__voice {
        height: 60px;
        align-items: center;
        display: flex;
        border-radius: 24px;
        transition: background .2s;
        padding: 0 16px;
        cursor: pointer;
        justify-content: space-between;

        &:hover {
            background: rgba(#fff, .1);
        }

        &__title {
            font-size: 20px;
        }
    }
}