@import "spec/index";

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 40px;
    &_open{
        position: fixed; 
        z-index: 5;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
    }
    @include media-down(md) {
        font-size: 16px;
    }
    @include media-down(sm) {
        font-size: 24px;
        background: rgba(var(--color-black), 0.06);
        backdrop-filter: blur(32px);
        padding: 15px 0;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__home{
        margin-right: auto;
    }
    &__menu{
        display: flex;
        align-items: center;
        gap: 38px;
        @include media-down(sm) {
            gap: 20px;
            display: none;
        }
        @include media-down(sm) {
            flex-direction: column;
            gap: 24px;
            align-items: flex-start;
        }
        &_mobile{
            display: none;
            @include media-down(sm) {
                display: flex;
            }
        }
        &__item{
            display: block;
            &_active{
                a{
                    color: rgba(var(--color-white), 1) !important;
                    text-decoration: underline;
                }
            }
            @include media-down(sm) {
                width: 100%;
                &:nth-child(1), &:nth-child(2), &:nth-child(3){
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        top: -9px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: rgba(var(--color-white), 0.12);
                    }
                }
            }
            a{
                color: rgba(var(--color-white), 0.6);
                span{
                    color: rgba(var(--color-white), 1);
                }
            } 
        }
    }
    &__profile{
        display: flex;
        align-items: center;
        gap: 8px;
        color: rgba(var(--color-white), 1);
        margin-left: auto;
        @include media-down(sm) {
            display: none;
        }
        &_mobile{
            display: block;
        }
    }
    &__block{
        display: flex;
        gap: 20px;
        margin-left: auto;
        // a{
        //     color: rgba(var(--color-white), 0.6);
        // }
    }

    &__top{
        margin-right: auto;
        @include media-down(sm) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        img{
            cursor: pointer;
            display: none;
            @include media-down(sm) {
                display: block;
            }
        }
        a{
            img{
                display: block;
            }
        }
    }
    &__burger{
        display: block;
        @include media-down(sm) {
            width: 100%;
            margin-top: 40px;
            display: none;
        }
        &_open{
            display: block;
        }
    }
    &__social{
        display: none;
        align-items: center;
        gap: 12px;
        margin-top: 40px;
        @include media-down(sm) {
            display: flex;
        }
    }
    &__copyright{
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        margin-top: 24px;
        display: none;
        @include media-down(sm) {
            display: block;
        }
    }

}

