

.player{
    display: flex;
    gap: 14px;
    &__wrapper{
        display: block;
        width: 100%;
        &_info{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            gap: 24px;
            text-align: right;
        }
        &_range{
            margin-top: 14px;
            position: relative;
            span{
                position: absolute;
                display: block;
                height: 2px;
                top: 50%;
                left: 0;
                transform: translateY(calc(-50% + 4px));
                border-radius: 160px;
                background: linear-gradient(90deg, #E536C3 -9.06%, #8E1BE8 102.62%, #8E1BE8 102.63%);
                z-index: -1;
            }
        }
    }
    &__button{
        min-width: 48px;
        height: 48px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        position: relative;
        &__img{
            display: none;
            &_active{
                display: block;
            }
        }
    }
    &__range{
        -webkit-appearance: none;
        appearance: none;
        border-radius: 160px;
        background: rgba(175, 175, 175, 0.06);
        cursor: pointer;
        width: 100%;
        height: 2px;
        &::-webkit-slider-thumb{
            -webkit-appearance: none;
            appearance: none;
            width: 12px;
            height: 12px;
            border-radius: 190px;
            border: 2px solid #F0F0F0;
            background: linear-gradient(118deg, #BC0AB8 25.97%, #8E1BE8 109.01%, #8E1BE8 109.02%);
        }
    }
    &__input{
        display: flex;
        align-items: center;
        gap: 9px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.36px;
        position: relative;
        &:hover{
            input{
                color: rgba(var(--color-gray), 0.6);
            }
            img{
                opacity: 1;
            }
        }
        input{
            &:read-only{
                cursor: pointer;
            }
        }
        img{
            cursor: pointer;
            display: block;
            position: absolute;
            top: 50%;
            right: -10px;
            transform: translateY(-50%);
            width: 17px;
            height: 17px;
            opacity: 0;
            transition: 0.3s opacity;
        }
    }
}